@charset "utf-8";

body {
    line-height: 1.8;
    margin-bottom: 10ex;
}

nav ul {
    padding-left: 0ex;
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 2ex;
}

input {
    width: 90vw;
}

button {
    margin-top: 2ex;
    width: 90vw;
}

canvas {
    margin-top: 2ex;
    border: 1px solid gray;
}

.table .row .cell {
    margin-bottom: 1ex;
}

@media (orientation: landscape) {

    body {
        line-height: 1.5;
    }

    input {
        width: auto;
    }

    button {
        margin-top: 0ex;
        width: auto;
    }

    .table {
        display: table;
    }

    .table .row {
        display: table-row;
    }

    .table .row .cell {
        display: table-cell;
        padding: 0ex 0.5ex;
        vertical-align: middle;
    }

}

