@charset "utf-8";

nav span {
    margin-right: 1ex;
}

article {
    line-height: 1.8;
    margin-bottom: 10ex;
}

input {
    width: 90%;
}

button {
    margin-top: 2ex;
    width: 90%;
}

#block {
    margin-top: 3ex;
}

.table .row .cell {
    margin-bottom: 1ex;
}

canvas {
    border: 1px solid gray;
}

@media (min-width: 768px) {

    article {
        line-height: 1.5;
    }

    input {
        width: auto;
    }

    button {
        margin-top: 0ex;
        width: auto;
    }

    .table {
        display: table;
    }

    .table .row {
        display: table-row;
    }

    .table .row .cell {
        display: table-cell;
        padding: 0ex 0.5ex;
        vertical-align: middle;
    }

}

