@charset "utf-8";

body {
    line-height: 1.8;
    margin-bottom: 10ex;
}

nav ul {
    padding-left: 0ex;
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 2ex;
}

input {
    width: 90vw;
}

button {
    margin-top: 2ex;
    width: 90vw;
}

table {
    margin-top: 1ex;
}

table td.ceil {
    vertical-align: top;
}

#width {
    height: 2ex;
    width: 20ex;
}

#height {
    writing-mode: vertical-lr;
    width: 2ex;
    height: 20ex;
}

#width_value {
    display: none;
}

#height_value {
    display: none;
}

.table .row {
    margin-bottom: 2ex;
}

.table .row .cell {
    margin-bottom: 1ex;
}

canvas {
    border: 1px solid gray;
}

@media (orientation: landscape) {

    body {
        line-height: 1.5;
    }

    input {
        width: auto;
    }

    input[type="range"] {
        width: 50ex;
        padding: 0ex;
    }

    button {
        margin-top: 0ex;
        width: auto;
    }

    #width_value {
        display: inline;
    }

    #height_value {
        display: inline;
    }

    .table {
        display: table;
    }

    .table .row {
        display: table-row;
    }

    .table .row .cell {
        display: table-cell;
        padding: 0ex 0.5ex;
    }

    #config .row .cell {
        padding-top: 1ex;
    }

    #config .row .number {
        text-align: right;
    }

}

