@charset "utf-8";

nav span {
    margin-right: 1ex;
}

body {
    line-height: 1.8;
    margin-bottom: 10ex;
}

table tr {
    display: block;
    margin-bottom: 2ex;
}

table tr.head {
    display: none;
}

table td {
    display: block;
}

table td span {
    display: inline-block;
    width: 10ex;
}

img {
    border: 1px solid gray;
    padding: 0.3ex 0.8ex;
}

@media (min-width: 768px) {

    body {
        line-height: 1.5;
    }

    table {
        border: 1px solid gray;
        border-collapse: collapse;
    }

    table tr {
        display: table-row;
    }

    table tr.head {
        display: table-row;
    }

    table th {
        border: 1px solid gray;
        padding: 0.3ex 0.8ex;
    }

    table td {
        display: table-cell;
        border: 1px solid gray;
        padding: 0.3ex 0.8ex;
    }

    table td span {
        display: none;
    }

    img {
        display: block;
        border: none;
    }

}

